body {
    /*min-height: 100vh;*/
    width: 100%;
    overflow: auto;
    /*margin: 0;*/
    /*background-color: #231d25;*/
}
:root {
    --font-family1: 'Squada One', cursive;
    --font-family2: 'Work Sans', sans-serif;
    --font-family3: 'Fredoka One', cursive;
    --font-family4: "Libre Franklin", sans-serif;
    --color-light: #f9f8f9;
    --color-reset-nav: #4a148c;
    --color-light-nav: #7c43bd;
    --color-dark-nav: #12005e;
    /*SIZE*/
    --font-size-50: 50px;
}