/*DESKTOP*/
@media only screen and (min-device-width: 1200px) {
    .container-divided {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 0 auto;
    }
    .cd1 {
        order: 1;
        flex: 2 2 60%;
    }
    .cd2 {
        order: 2;
        flex: 1 2 40%;
        margin: 0 0 0 0;
    }
    .info-java {
        margin: 3%;
    }
    .design-info-java {
        background-image: var(--gradient-universal);
        position: relative;
        border-radius: 15px;
        border: 3px solid var(--color-borders-nav);
        box-shadow: var(--shadow-box-universal);
    }
    .title {
        font-size: 8rem;
        font-family: var(--font-family1);
        color: var(--color-navbar-text);
        text-align: center;
    }
    .chapters-java {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        margin: 3% 0 0 0;
    }
    .chap1:nth-child(1) {
        order: 1;
        flex: 1 1 auto;
    }
    .chap1:nth-child(2) {
        order: 2;
        flex: 1 1 auto;
    }
    .chap1 > img {
        width: 100%;
        position: inherit;
        object-fit: fill;
        opacity: 0.9;
        border-bottom: 3px dashed var(--borders-dark);
        background-color: var(--background-color-images);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .chap1 {
        border: 3px solid var(--background-color-images);
        border-radius: 15px;
        margin: 1%;
        /*background-image: linear-gradient(-150deg,#231d25,#231d25,#40214a);*/
    }
    .id99 {
        background-image: var(--gradient-hunt-1);
    }
    .id98 {
        background-image: var(--gradient-hunt-2);
    }
    .id100 {
        background-image: var(--gradient-hunt-5);
        flex-basis: 50%;
    }
    .id101 {
        background-image: var(--gradient-hunt-4);
        flex-basis: 50%;
    }
    .chap1 > h3, .chap1 p {
        color: var(--color-navbar-text);
        font-family: var(--font-family2);
        margin: 4%;
    }
    .idp01 {
        font-family: var(--font-family2);
        color: var(--color-navbar-text);
        margin: 4%;
        text-align: justify;
        border-top: 3px dashed var(--borders-dark);
    }
    .idit01, .idit02 {
        display: none;
        font-family: var(--font-family2);
        color: var(--color-navbar-text);
        margin: 4%;
        text-align: justify;
    }
}