/*Tablets only for control*/
@media only screen and (max-width: 1279px) {
    .img-portrait {
        position: relative;
    }
    .container_titles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        margin-top: -30rem;
        margin-left: -7rem;
    }
    .container_titles > .titles {
        font-size: 3em;
        order: 1;
    }
    .container_titles > .paragraph_title {
        order: 2;
        font-size: 1rem;
    }
    .button-title {
        order: 3;
        margin-left: 5%;
        margin-top: 10%;
    }
    .container_titles_two {
        font-size: 10px;
        margin-top: -7rem;
        position: absolute;
        margin-left: 1.5rem;
        width: 100%;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .p1 {
        order:1;
        flex: 1 1 100%;
    }
    .p2 {
        order: 2;
        flex: 1 1 10%;
        text-align: right;
        margin-right: 10%;
    }
    /*footer*/
    
    .footer-img {
        width: 50%;
        margin-top: 6%;
    }
    .footer-adjust2 {
        display: inline-flex;
        flex-direction: row;
        align-content: center;
    }
    .ordenf1 {
        order: 1;
        text-align: center;
        flex: 2 2 10%;
    }
    .p-adjust {
        font-size: 0.6rem;
    }
    .ordenf2 {
        order: 2;
        flex: 2 2 10%;
    }
    .ordenf3 {
        order: 3;
        flex: 2 2 10%;
    }
    .ordenf4 {
        order: 4;
        flex: 2 2 10%;
    }
    .footer-post > ul {
        font-size: 0.8rem;
    }
}