@media only screen and (max-width: 812px) {
    .nav {
        height: 30px;
        width: 100px;
        position: absolute;
        left: 50%;
        top: 5%;
    } 
    .nav button#main-btn {
        padding: 15px;
        width: 100%;
        height: 50px;
        position: absolute;
        font-size: 10px;
    }
    .nav #sub-navs > button {
        display: none;
        width: 100%;
        height: 50px;
        position: absolute;
        font-size: 10px;
    }
    .img-portrait {
        position: relative;
    }
    .container_titles {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        position: absolute;
        margin-top: -30rem;
        margin-left: -20%;
    }
    .title  > h1{
        /*font-size: 2em;*/
        order: 1;
    }
    .paragraph_title {
        font-size: 1em;
    }
    .button-title {
        font-size: small;
    }
    .container_titles_two {
        font-size: 0.9em;
        width: 100%;
        margin: -25% 0 0 0;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .p1 {
        flex: 1 1 50%;
    }
    .p2 {
        text-align: right;
        flex: 1 1 10%;
    }
    .column_sp {
        text-align: center;
    }
    .margin_tp {
        margin: 4% 2% 4% 2%;
    }
    .inline_tp {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .img1 {
        width: 100%;
    }
    /* top | right | bottom | left */
    .orden1 {
        order: 1;
        flex: 1 1 1%;
        margin: 2% 2 2% 0;
    }
    .orden2 {
        order: 2;
        flex: 1 1 1%;
        margin: 2% 2 2% 2;
    }
    .orden3 {
        order: 3;
        flex: 1 1 1%;
        margin: 2% 0 2% 2;
    }
    .h2_tp {
        margin: 0 0 0 5%;
    }
    .in_box {
        margin: 4% 4%;
        padding: 1% 3%;
    }
    .in_box > p {
        /*font-size: x-small;*/
        text-align: center;
    }
    .box_button {
        margin: 1% 0 1% 20%;
        padding: 3%;
    }
    .box_button > a {
        /*font-size: x-small;*/
    }

    .footer-img {
        width: 50%;
        margin-top: 36%;
    }
    .footer-adjust2 {
        display: inline-flex;
        flex-direction: row;
        align-content: center;
    }
    .ordenf1 {
        order: 1;
        text-align: center;
        flex: 2 2 10%;
    }
    .p-adjust {
        font-size: 0.5rem;
    }
    .ordenf2 {
        order: 2;
        flex: 2 2 10%;
    }
    .ordenf3 {
        order: 3;
        flex: 2 2 10%;
    }
    .ordenf4 {
        order: 4;
        flex: 2 2 10%;
    }
    .footer-post > ul {
        font-size: 0.6rem;
    }
}
/*IPHONE 5S */
@media only screen and (max-width: 569px) {
    .container_titles {
        /* top | right | bottom | left */
        margin: -17rem 0 0 -2rem;
    }
    .button-title {
        font-size: xx-small;
    }
    .container_titles_two {
        font-size: 0.5em;
        width: 100%;
    }
    .paragraph_title {
        font-size: 0.7em;
    }
    .title  > h1{
        /*font-size: 1em;*/
        order: 1;
    }
    .column_sp {
        text-align: center;
    }
    .margin_tp {
        /* top | right | bottom | left */
        margin: 0 6% 0 6%;
    }
    .inline_tp {
        flex-flow: column wrap;
        justify-content: space-between;
    }
    .orden1 {
        order: 1;
        flex: 1 1 auto;
        margin: 6% 0 10% 0;
    }
    .orden2 {
        order: 2;
        flex: 1 1 auto;
        margin: 6% 0 6% 0;
    }
    .orden3 {
        order: 3;
        flex: 1 1 auto;
        margin: 10% 0 6% 0;
    }
    .img1 {
        width: 100%;
    }
    .h2_tp {
        margin: 0 0 0 5%;
    }
    /* top | right | bottom | left */
    .hr_tp {
        margin: 0 25% 0 5%;
    }
    .in_box {
        margin: 4% 4%;
        padding: 1% 3%;
    }
    .box_button {
        margin: 1% 0 1% 30%;
        padding: 3%;
    }
    /*FOOTER*/
    .footer-img {
        width: 50%;
        margin-top: 6%;
    }
    .footer-adjust2 {
        display: inline-flex;
        flex-direction: column;
        align-content: center;
    }
    .ordenf1 {
        order: 1;
        text-align: center;
        flex: 2 2 10%;
    }
    .p-adjust {
        font-size: var(--font-size-medium);
    }
    .ordenf2 {
        order: 2;
        flex: 2 2 10%;
    }
    .ordenf3 {
        order: 3;
        flex: 2 2 10%;
    }
    .ordenf4 {
        order: 4;
        flex: 2 2 10%;
    }
    .footer-post > ul {
        font-size: 0.9rem;
    }
    
}