
.icon {
    position: relative;
    cursor: pointer;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(.//material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(./material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
      url(./material-design-icons/MaterialIcons-Regular.woff) format('woff'),
      url(./material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.button-light {
    color: var(--color-button-fill);
    transition: 0.25s;
    border: 2px solid;
    padding: 6px;
    font-family: 'Squada One', cursive;
    background-color: transparent;
}
.button-light:hover,
.button-light:focus {
	box-shadow: inset 0 0 0 2em var(--hover-fill);
}
.button-light:hover {
	border-color: var(--hover-fill);
	color: #fff;
}
.button-light {
    --color-button-fill: #a972cb;
	--hover-fill: #a972cb;
	--transition-all: 0.25s;
}

.button-dark {
    color: var(--color-button-fill);
    transition: 0.25s;
    border: 2px solid;
    padding: 6px;
    font-family: 'Squada One', cursive;
    background-color: transparent;
}
.button-dark:hover,
.button-dark:focus {
	box-shadow: inset 0 0 0 2em var(--hover-fill);
}
.button-dark:hover {
	border-color: var(--hover-fill);
	color: 	#eeeeee;
}
.button-dark {
    --color-button-fill: #252b34;
	--hover-fill: #252b34;
	--transition-all: 0.25s;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
  font-feature-settings: 'liga';
}
/*DESKTOPS*/
@media only screen and (min-width: 1030px) {
    .button-light {
        margin-left: 3%;
        margin-top: 0%;
    }
    .light-content {
        background-color: #231d25;
        -webkit-transition: all 1s linear;
            -moz-transition: all 1s linear;
                -o-transition:  all 1s linear;
        transition: all 1s ease-out;
        
    }
    .light-content-change {
        background-color: var(--font-color-back);
        z-index: 1;
    }
    .h1-sp-change, .p_sp_change {
        color: var(--font-color-change);
        font-family: var(--font-style-change);
    }
    .post-1tp-change {
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        border: 1px solid #f5f5f5;
        border-radius: 15px;
        transition-duration: 1s;
        margin: 1% 1%;
        margin-bottom: 1%;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .post-1tp-change:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	    transform: scale(1.05,1.05);
    }
    .h2_tp_change {
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .in_box_change p {
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .in_box_change {
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .hr_tp_change {
        color: var(--color-hr);
        border: 1px solid var(--color-hr);
    }
    .box_button_change {
        background-color: transparent;
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        position: relative;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .box_button_change > a {
        position: relative;
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .footer-container-change {
        border-top: 4px solid var(--color-hr);
        /*background-color: var(--color-back-footer);*/
    }
    .hr-footer-change {
        color: var(--color-hr);
        border: 2px dashed;
    }
    .footer-a1-change {
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .active-black {
        color: var(--font-color-change);
    }
    .fill-change {
        color: var(--color-button-fill);
        transition: 0.95s;
    }
    .fill-change:hover {
        border-color: var(--hover-fill);
        color: #fff;
        background-image: var(--hover-fill);
        border: 1px solid 	#eeeeee;
    }
    .fill-change {
        --color-button-fill: 	#908379;
        --hover-fill: linear-gradient(-150deg,	#eeeeee,#d9e3e3,	#c1c4ce);;
        --transition-all: 0.25s;
    }
    .light-mode {
        margin-top: 2%;
    }
    
}

@media only screen and (max-width: 1279px) {
    .light-content-change {
        background-color: var(--font-color-back);
        z-index: 1;
    }
    .h1-sp-change, .p_sp_change {
        color: var(--font-color-change);
        font-family: var(--font-style-change);
    }
    .post-1tp-change {
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        border: 1px solid #f5f5f5;
        border-radius: 15px;
        transition-duration: 1s;
        margin: 1% 1%;
        margin-bottom: 1%;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .post-1tp-change:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	    transform: scale(1.05,1.05);
    }
    .h2_tp_change {
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .in_box_change p {
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .in_box_change {
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        border: 1px solid #f5f5f5;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .hr_tp_change {
        color: var(--color-hr);
        border: 1px solid var(--color-hr);
    }
    .box_button_change {
        background-color: transparent;
        background-image: linear-gradient(150deg,#d2d4d4,#f5f5f5,#ffffff);
        position: relative;
        border-radius: 5px;
        border: 1px solid #f5f5f5;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .box_button_change > a {
        position: relative;
        color: var(--font-color-change);
        font-family: var(--font-style-change-work);
    }
    .footer-container-change {
        border-top: 4px solid var(--color-hr);
        /*background-color: var(--color-back-footer);*/
    }
    .hr-footer-change {
        color: var(--color-hr);
        border: 2px dashed;
    }
    .footer-a1-change {
        color: var(--font-color-change);
        font-family: var(--font-style-change);
    }
    .active-black {
        color: var(--font-color-change);
    }
    .fill-change {
        color: var(--color-button-fill);
        transition: 0.95s;
    }
    .fill-change:hover {
        border-color: var(--hover-fill);
        color: #fff;
        background-image: var(--hover-fill);
        border: 1px solid 	#eeeeee;
    }
    .fill-change {
        --color-button-fill: 	#908379;
        --hover-fill: linear-gradient(-150deg,	#eeeeee,#d9e3e3,	#c1c4ce);;
        --transition-all: 0.25s;
    }
}

.h1-sp-change, .p_sp_change, 
.h2_tp_change, .in_box_change p, .hr_tp_change,
 .box_button_change > a, .footer-container-change, .hr-footer-change,
 .footer-a1-change, .active-black  {
    --font-color-back: 	#d9e3e3;
    --font-color-change: 	#5e5e5e;
    --font-style-change: 'Squada One', cursive;
    --font-style-change-work: 'Work Sans', sans-serif;
    --color-hr: 		#b2b2b2;
    --color-back-footer: 	#c1c4ce;
    --color-a-hover: #856a54;
}