/*RULES THEM ALL*/
:root {
    --font-family1: 'Squada One', cursive;
    --font-family2: 'Work Sans', sans-serif;
    --font-family3: 'Fredoka One', cursive;
    --color-light: #f9f8f9;
    --font-size-xx-large: xx-large;
    --font-size-large: large;
}