@media only screen and (min-device-width: 1200px) {
    body {
        margin: 0;
        background-color: var(--color-background-body-dark);
        background-image: url("../assets/shattered.png");
        box-sizing: border-box;
    }
    .container-full:nth-child(1) {
        background-color: transparent;
        margin: 0 0 0 0;
        padding: 2%;
    }
    .container-card {
        background-color: var(--color-background-body-white);
        margin: 1% 1% 1% 1%;
        border-radius: 20px;
        border: 2px solid rgb(86,86,86);
        box-shadow: 5px 5px 15px 1px #121212;
        /* padding: 1% 1% 1% 1%; */
    }
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .c-80 {
        order: 2;
        flex: 4 1 80%;
    }
    .c-20 {
        order: 1;
        flex: 1 1 20%;
    }
    .c-20 > h1, .c-20 > ol {
        color: var(--color-text-white);
        font-family: var(--font-family1);
    }
    .c-20 > h1 {
        font-size: xx-large;
    }
    .c-20 > ol {
        font-size: x-large;
    }
    .i-80 {
        font-family: var(--font-family4);
        font-size: 6em;
        text-align: center;
    }
    .i-81, .i-82 {
        font-family: var(--font-family5);
        font-size: 1.4em;
        padding: 0 5% 0 5%;
        text-align: justify;
        color: #565656;
    }
}