:root {
    --color-background-body-dark: #231d25;
    --color-background-body-white: #fff8e1;
    --color-text-white: #ffffff;
    --font-family1: 'Squada One', cursive;
    --font-family2: 'Work Sans', sans-serif;
    --font-family3: 'Fredoka One', cursive;
}