:root {
    --color-background-nav: #231d25;
    --color-background-body: #231d25;
    --color-navbar-text: #ffffff;
}
body {
    margin:0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: var(--color-background-body);
}